.navbar-inverse {
    background-color: #544F4F;
    border-color: #544F4F;
}

.navbar-inverse .navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: white;

}

#plus{
    display:none;
}



@media only screen and (max-width: 600px) {

    .navbar-toggle{
        float:left;
        margin-left: 15px;
        border: 0;
    }

    .navbar-brand{
        left: 15%;
        position: relative;
        float: none;
        top: 15px;

    }

    #plus{
        position: relative;
        left: 35%;
        display: inline;
        color: white;
        top:8px;
        
    }

    
}