* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  background:linear-gradient(#FF8D74,#FF5631);
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  height: 100%;
}
