* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  background:linear-gradient(#FF8D74,#FF5631);
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  height: 100%;
}

.landing-logo {
  margin:auto;
  padding-top:20px;
  display:block;
  width:400px;
  max-width:80%;
}

.text-block {
  margin:auto;
  text-indent: 30px;
  font-size:16px;
  color:#ECECEC;
  width:600px;
  max-width:80%;
  padding-bottom:10px;
}

.landing-page {
  text-align:center;
  margin:auto;
}

.justo-button {
  display:inline-block;
  font-size:16px;
  padding:5px 12px 5px 12px;
  margin:5px 5px 5px 5px;
  background:#52C9C3;
  text-shadow: grey 1px 1px 1px;
  color:#ECECEC;
  box-shadow: grey 2px 2px 2px;
  border-radius:5px;
  border:none;
}