.p-card {
  /* padding-top:20px; */
  margin:10px 0px 10px auto;
}

.p-text {
  margin:auto;
  max-width:300px;
  text-align:left;
  font-weight:100;
  color:black;
  padding:15px;
  font-size:16px;
  background:#ECECEC;
  box-shadow: grey 2px 2px 2px;
  border-radius:6px;
}

@media (min-width: 768px) {
  .col-sm-12 {
    margin:auto;
  }
}

hr {
  border-top: 1px solid lightgrey;
  margin: 0px auto 10px auto;
}