.btn-default{
    display: inline-block;
    font-size: 16px;
    padding: 5px 12px 5px 12px;
    margin: 5px 5px 5px 5px;
    background: #52C9C3;
    text-shadow: grey 1px 1px 1px;
    color: #ECECEC;
    box-shadow: grey 2px 2px 2px;
    border-radius: 5px;
    border: none;
}