.p-card {
  margin:0px 0px 20px auto;
}

.p-text {
  margin:auto;
  text-align:left;
  font-weight:100;
  color:black;
  padding:15px;
  font-size:14px;
  background:#ECECEC;
  box-shadow: grey 2px 2px 2px;
  border-radius:6px;
  max-width: 400px;
}

@media (min-width: 768px) {
  .col-sm-12 {
    margin:auto;
  }
}

hr {
  border-top: 1px solid lightgrey;
  margin: 0px auto 10px auto;
}