<DOCTYPE html>
<html lang="en-us">

<head>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	
		<meta charset="UTF-8" />
		<title>Justo</title>
	</head>

<body>
	{{#if loggedIn}}
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/index">Justo</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/about">About <span class="sr-only"></span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/users/myPage">{{{user.first_name}}} {{{user.last_name}}} <span class="sr-only"></span></a>
					</li>
				</ul>
				<span class="nav-item">
					<button onclick="logout()" class="btn btn-primary">Log out</button>
				</span>
			</div>
		</nav>
	{{else}}
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/index">Justo</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/index">Home <span class="sr-only"></span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/about">About <span class="sr-only"></span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/login">Login <span class="sr-only"></span></a>
					</li>
				</ul>
			</div>
		</nav>
	{{/if}}
	
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-8">
				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						{{#unless loggedIn}}
							<h1>Please enter your information</h1> 
							<hr />
							
							<div class="login-form">
								<div class="form-group">
									<label for="exampleInputEmail1" class="text-uppercase">*Your email</label>
									<input id="email" type="text" class="form-control" placeholder="">
								</div>
								<div class="form-group">
									<label for="exampleInputFirstName" class="text-uppercase">*Your first name</label>
									<input id="firstName" type="text" class="form-control" placeholder="">
								</div>
								<div class="form-group">
									<label for="exampleInputFirstName" class="text-uppercase">*Your last name</label>
									<input id="lastName" type="text" class="form-control" placeholder="">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1" class="text-uppercase">*Password (make sure to keep this secret!)</label>
									<input id="password" type="password" class="form-control" placeholder="">
								</div>
								
								<div class="form-check">
									<button type="submit" class="btn btn-primary btn-login float-right" onclick="createNewUser();">Submit</button>
								</div>
							</div>
						{{else}}
							<h1>Sorry, but users that are already logged in cannot create an account.</h1>
							<hr />
							<p>Consider logging out and then attempting this again.</p>
						{{/unless}}
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4">
				<div class="card card-body bg-light">
					<h3>You're almost there!</h3>
					<h3><small>Unless you already did this, in which case feel free to use the following. </small></h3> 
					<a class="btn btn-primary" href="/login">Login </a>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		function createNewUser(){
			$.post("/api/newUser", JSON.stringify({
				email: document.getElementById("email").value,
				first_name: document.getElementById("firstName").value,
				last_name: document.getElementById("lastName").value,
				password: document.getElementById("password").value
			})).then(function(data){
				window.location.href = "/index";
			});
		}
		function logout(){
			$.post("/api/logout", JSON.stringify({}) ).then(function(data) {
				window.location.href = "/index";
			});
		}
	</script>
	
</body>

</html>